@font-face {
  font-family: 'Rounded';
  src: url("../fonts/Rounded/RoundedElegance-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Rounded/RoundedElegance-Regular.woff") format('woff'), url("../fonts/Rounded/RoundedElegance-Regular.ttf") format('truetype'), url("../fonts/Rounded/RoundedElegance-Regular.svg#RoundedElegance-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}
.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.board {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.hidden {
  display: none;
}
.preloader {
  display: block;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.first-start {
  background: rgba(255,255,255,0.91);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8888;
}
.first-start__nav {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60vw;
}
.button {
  padding: 10px 20px;
  color: #fff;
  background: #00b208; /* Old browsers */ /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #00b208 0%, #79dd27 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#00b208), to(#79dd27));
  background: -o-linear-gradient(top, #00b208 0%, #79dd27 100%);
  background: linear-gradient(to bottom, #00b208 0%, #79dd27 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  text-decoration: none;
  font: 700 4vh 'Rounded', sans-serif;
  -webkit-border-radius: 19px;
          border-radius: 19px;
  -webkit-box-shadow: #000 2px 1px 10px;
          box-shadow: #000 2px 1px 10px;
  margin: 10px;
  cursor: pointer;
}
.button:hover {
  background: #00b208; /* Old browsers */ /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #79dd27 0%, #00b208 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#79dd27), to(#00b208));
  background: -o-linear-gradient(top, #79dd27 0%, #00b208 100%);
  background: linear-gradient(to bottom, #79dd27 0%, #00b208 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.button_red {
  background: #c00; /* Old browsers */ /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #c00 0%, #cc8282 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#c00), to(#cc8282));
  background: -o-linear-gradient(top, #c00 0%, #cc8282 100%);
  background: linear-gradient(to bottom, #c00 0%, #cc8282 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.button_red:hover {
  background: #c00; /* Old browsers */ /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #cc8282 0%, #c00 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#cc8282), to(#c00));
  background: -o-linear-gradient(top, #cc8282 0%, #c00 100%);
  background: linear-gradient(to bottom, #cc8282 0%, #c00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.first-start__title {
  font: 5.5vh 'Rounded', sans-serif;
  text-align: center;
  text-shadow: #000 1px 1px 3px;
}
.player-list {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.player-item {
  font: 700 4vh 'Rounded', sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  width: 70px;
  height: 70px;
  background: #00b208; /* Old browsers */ /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #00b208 0%, #79dd27 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#00b208), to(#79dd27));
  background: -o-linear-gradient(top, #00b208 0%, #79dd27 100%);
  background: linear-gradient(to bottom, #00b208 0%, #79dd27 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 10px;
  -webkit-box-shadow: #000 2px 1px 10px;
          box-shadow: #000 2px 1px 10px;
  cursor: pointer;
}
.player-item:hover {
  background: #00b208; /* Old browsers */ /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #79dd27 0%, #00b208 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#79dd27), to(#00b208));
  background: -o-linear-gradient(top, #79dd27 0%, #00b208 100%);
  background: linear-gradient(to bottom, #79dd27 0%, #00b208 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.board-left {
  position: relative;
}
.circle {
  width: 20vh;
  height: 20vh;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 222;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  background: #fff;
  position: absolute;
  top: 50%;
  text-align: center;
  right: 0;
  font: 700 3.5vh 'Rounded', sans-serif;
  color: #e4181f;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.circle .circle__top {
  border-bottom: 2px solid #e4181f;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.column_right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.categories {
  width: 300%;
  max-height: 75%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.category {
  position: relative;
  display: block;
  width: 98%;
  min-height: 48%;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0.5vh 0;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
}
.category__title {
  position: absolute;
  font: 700 3.6vh 'Rounded', sans-serif;
  color: #8e472f;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  text-shadow: #fff 3px 1px 0;
}
.category__area {
  position: absolute;
  top: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 62%;
  min-height: 62%;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background: rgba(255,255,255,0.6);
}
.category__counter {
  position: absolute;
  font: 700 5vh 'Rounded', sans-serif;
  color: #8e472f;
  text-shadow: #fff 3px 1px 5px;
  bottom: 0;
}
.category__counter_left {
  left: 12px;
}
.category__counter_right {
  right: 12px;
}
.card {
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60%;
  height: 58%;
  position: absolute;
  display: block;
  top: 27%;
  left: 20%;
  -webkit-box-shadow: #000 2px 2px 10px;
          box-shadow: #000 2px 2px 10px;
  z-index: 7777;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}
.card.active {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
      -ms-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  z-index: 8887;
  width: 41vw;
  height: 51vh;
}
.card_orange {
  background-image: url("../img/card-orange.png");
}
.card_orange.active {
  top: 100%;
  left: 100%;
}
.card_green {
  background-image: url("../img/card-green.png");
}
.card_green.active {
  top: 100%;
  left: 0;
}
.card_blue {
  background-image: url("../img/card-blue.png");
}
.card_blue.active {
  top: 0;
  left: 100%;
}
.card_yellow {
  background-image: url("../img/card-yellow.png");
}
.card_yellow.active {
  top: 0;
  left: 0;
}
.item {
  height: 13vh;
  min-width: 13vh;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  margin: 0.5vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
}
.orange {
  background-image: url("../img/orange.png");
}
.grey {
  background: #ebecec;
}
.green {
  background-image: url("../img/green.png");
}
.yellow {
  background-image: url("../img/yellow.png");
}
.blue {
  background-image: url("../img/blue.png");
}
.start {
  background-image: url("../img/start.png");
}
.score__button-pic {
  width: 6vh;
  height: 6vh;
  display: block;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/dice.png");
}
.score {
  position: absolute;
  bottom: 6vh;
  right: 0;
}
.score__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.score__button.inactive {
  background: #808080;
  cursor: not-allowed;
}
.score__button.inactive .score__button-pic {
  cursor: not-allowed;
}
.score__button-title {
  font: 700 6vh 'Rounded', sans-serif;
  margin-right: 1vh;
  width: 4vh;
}
.player {
  position: absolute;
  width: 3vh;
  height: 5.5vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.player_1 {
  background-image: url("../img/player-1.png");
  bottom: 6vh;
  left: 2vh;
}
.player_2 {
  background-image: url("../img/player-2.png");
  bottom: 6vh;
  left: 4vh;
}
.player_3 {
  background-image: url("../img/player-3.png");
  bottom: 6vh;
  left: 6vh;
}
.player_4 {
  background-image: url("../img/player-4.png");
  bottom: 6vh;
  left: 8vh;
}
.player_5 {
  background-image: url("../img/player-5.png");
  bottom: 2vh;
  left: 2vh;
}
.player_6 {
  background-image: url("../img/player-6.png");
  bottom: 2vh;
  left: 4vh;
}
.player_7 {
  background-image: url("../img/player-7.png");
  bottom: 2vh;
  left: 6vh;
}
.player_8 {
  background-image: url("../img/player-8.png");
  bottom: 2vh;
  left: 8vh;
}
.statistic {
  padding: 10px;
  font: 700 2.5vh 'Rounded', sans-serif;
  text-align: center;
}
.statistic__title {
  font: 700 3.5vh 'Rounded', sans-serif;
}
.statistic__list {
  list-style: none;
  padding: 0 3.5vh;
}
.statistic__player {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.statistic__player_1 .statistic__icon {
  background-image: url("../img/player-1.png");
}
.statistic__player_2 .statistic__icon {
  background-image: url("../img/player-2.png");
}
.statistic__player_3 .statistic__icon {
  background-image: url("../img/player-3.png");
}
.statistic__player_4 .statistic__icon {
  background-image: url("../img/player-4.png");
}
.statistic__player_5 .statistic__icon {
  background-image: url("../img/player-5.png");
}
.statistic__player_6 .statistic__icon {
  background-image: url("../img/player-6.png");
}
.statistic__player_7 .statistic__icon {
  background-image: url("../img/player-7.png");
}
.statistic__player_8 .statistic__icon {
  background-image: url("../img/player-8.png");
}
.statistic__icon {
  width: 2.2vh;
  height: 4.7vh;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
}
.card-answer {
  display: none;
  background: rgba(255,255,255,0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8888;
}
.card-answer.active {
  display: block;
}
.card-answer__card {
  width: 47vw;
  min-height: 58vh;
  background-image: url("../img/green-card-4.png");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
.answer-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3vh;
}
.player-number {
  text-align: center;
  color: #fff;
  font-weight: 700;
  line-height: 7vh;
}